:root {
    --primary-color: #007bff; /* A bright blue similar to Ønskeskyen */
    --secondary-color: #ffffff; /* White */
    --table-cell-color: #e9ecef; /* A light grey for table cells */
    --button-hover-color: #0056b3; /* A darker blue for button hover state */

    --error-message-color: #a94442; /* A lighter red for error messages */
    --error-message-background-color: #f8d7da;
    --error-message-border-color: #f5c6cb;

    --success-message-color: #3c763d; /* A lighter green for success messages */
    --success-message-background-color: #dff0d8;
    --success-message-border-color: #d6e9c6;
}

body, h1, h2, h1, h2, h3, h4, h5, h6, button, a {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: fixed;
    height: 5%;
    width: 100%;
    top: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    text-align: center;
    display: flex; /* Make sure header is a flex container */
    box-sizing: border-box; /* Includes padding in width calculation */

}

h1{
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

footer {
    position: fixed;
    width: 10%;
    bottom: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: flex-start; /* Aligns the content to the left */
    padding: 10px 20px;
}

.footer {
    display: flex;
    justify-content: flex-start; /* Aligns the content to the left */
    align-items: flex-start;
    padding: 0 2em;
}

.footer p {
    margin: 0;
    font-size: small; /* Makes the text smaller */
}


body {
    margin: 0;
    padding: 0;
    padding-top: 5vh;  /* Adjust according to your actual header height in viewport percentages */
    display: flex;
    flex-direction: row; /* Change from column to row */
    align-items: flex-start; /* Align items to the top */
    justify-content: center;
    min-height: 100vh;
    color: var(--primary-color);
    background-color: lightblue;
}

@media all and (max-width: 700px) {
    body {
        flex-direction: column; /* Change to column for mobile or smaller screens */
    }
}

.containers {
    display: flex; /* Make the containers line up in a row */
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 95vh; /* Remaining height under the header */
    justify-content: center;
}

.container-left {
    width: 25%;
    position: relative;
    padding-top: 5vh; /* actual header height = 5% */
}

.containers-mat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 95vh; /* Remaining height under the header */
}

.containers-mat .container-1 {
    margin-right: auto;
    padding-left: 15%;

}
.cotainers-mat .container-2 {

}
.containers-mat .container-3 {
    margin-left: auto;
    padding-right: 15%;

}

.container-center {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 5%); /* header height = 5% */

    /* border: 1px solid red; Test border */
}

.container-right {
    width: 25%;
    position: relative;
    padding-top: 5vh; /* actual header height = 5% */

}


.button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;

    font-size: 1em; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bold */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: var(--button-hover-color);
}

table {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}


table, th, td {
    border: 1px solid white;
}

table td {
    background-color: var(--table-cell-color);
}

.table-column-titles {
    font-weight: bold;
    background-color: grey;
    color: black;
}

.item-row {
    color: blue; /* adjust as needed */
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 2em; /* Adjust as necessary */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav li {
    display: inline;
    margin-left: 1em; /* Spacing between nav items */
    padding: 0 10px;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    padding: .5em 1em;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}


@media only screen and (min-width: 768px) {
    /* Adjust your responsive styles here */
}

.image-button{
    position: static;
    border: none;
    width: 50px;
    height: 50px;
    background-image: url("assets/sky.png");
    background-repeat: no-repeat;
    background-size: contain; /* Knappen er dækket */
    cursor: pointer;
}
.sky-plus-button{
    position: static;
    border: none;
    width: 30px;
    height: 20px;
    background-image: url("assets/sky_plus.png");
    background-repeat: no-repeat;
    background-size: contain; /* Knappen er dækket */
    cursor: pointer;
}

.homebuttonOgHeader{
    display: flex;
    width: 100%; /* Ensure it spans the full width of the header */
    justify-content: space-between; /* This pushes the button to the left and the title to the center */
    align-items: center;
}

.notification-box {
    display: inline-block;
    padding: 1em;
    box-sizing: border-box;
    animation: fadeout 5s forwards;
}

.notifications {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    border-radius: 50px;
    padding: 20px;
    font-size: 1.5em;
    padding: 10px 20px; /* Y X - vertical horizontal */ /* Adds a space buffer around the text inside the box */
}
.error-message {
    color: #a94442;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.success-message {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

@keyframes fadeout {
    100% { opacity: 0; display: none; }
}


.reserved {
    color: #D2691E;
}
.unreserved {
    color: #2E8B57;
}