<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error Page</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body class="body">
    <header class="header">

        <div class="homebuttonOgHeader">

            <a href="/home">
                <button class="image-button"></button>
            </a>
            <h1>WishList</h1>
        </div>

        <nav>

        </nav>
    </header>


    <div class="containers">
        <div class="container-left">
            <!-- Your left container content -->
        </div>
        <div class="container-center">


        <h2>Error page</h2>



        </div>
        <div class="container-right">
            <div class="notification-box">
            <!-- Your right container content -->
            <h3 th:if="${error}" th:class="'error-message'" th:text="${error}" class='notifications'></h3>
            <h3 th:if="${success}" th:class="'success-message'" th:text="${success}" class='notifications'></h3>
            </div>
        </div>
    </div>



    <footer class="footer">
    <p>Created by: Gruppe 7</p>
</footer>

</body>

</html>