<!DOCTYPE html>
<html lang="en">
<head>
    <title>Start Page</title>
    <link rel="stylesheet" th:href="@{/templates/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<header class="header">
    <h1>Wish List</h1>
    <nav>

    </nav>
</header>

<body class="body">
<h2>User List</h2>

<div class = "table">
    <table>
        <div class="table-header">
            <thead>

            <tr>
                <th>Users</th>
            </tr>

            </thead>
        </div>
        <div class="table-body">
            <tbody id="table-body">
            <!-- Table rows will be here -->
            <tr th:each="user : ${users}">
                <td><a th:href="@{'/user/' + ${user.name}}" th:text="${user.userName}">Username</a></td>
                <td th:each="wishlist : ${user.wishlists}">
                    <!-- add your URL pattern for wishlists along with the ID if needed -->
                    <a th:text="${wishlist.name}">WishlistName</a>
                </td>
            </tr>

            </tbody>
        </div>
    </table>
    <form th:action="@{/user}" method="post">
        <label for="userName">User Name:</label>
        <input type="text" name="userName" id="userName" placeholder="New User Name">
        <button type="submit">Add User</button>
    </form>
</div>
</body>

<footer class="footer">
    <p>Created by: Gruppe 7</p>
</footer>


</html>