<!DOCTYPE html>
<html lang="en">
<head>
    <title>Start Page</title>
    <link rel="stylesheet" type="text/css" href="./CSS/style.css">
</head>

<header class="header">
    <h1>Wish List</h1>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>

<body class="body">
<h2>Wish List</h2>

<div class = "table">
    <table>
        <div class="table-header">
            <thead>

            <tr>
                <th>Item</th>
                <th>Actions</th>
            </tr>

            </thead>
        </div>
        <div class="wishlistTable-body">
            <tbody id="wishlistTable">
            <!-- Table rows will be here -->

            </tbody>
        </div>
        <div class="wishlistTable-foot">
            <tfoot>

            <tr>
                <td colspan="2">
                    <button id="addItem">Add Item</button>
                </td>
            </tr>
            </tfoot>
        </div>
    </table>
</div>
</body>

<footer class="footer">
    <p>Created by: Group 3</p>
    <p>Contact information: <a href="mailto:kaha0003@stud.kea.dk"> </a> </p>
</footer>

</html>