<!DOCTYPE html>
<html lang="en">
<head>
    <title>Start Page</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<header class="header">
    <h1>Wish List</h1>
    <nav>

    </nav>
</header>

<body class="body">
<h2>Wish List</h2>

<div class = "table">
    <table>
        <div class="table-header">
            <thead>

            <tr>
                <th>Item</th>
                <th>Actions</th>
            </tr>

            </thead>
        </div>
        <div class="wishlistTable-body">
            <tbody id="wishlistTable">
            <!-- Table rows will be here -->

            </tbody>
        </div>
        <div class="wishlistTable-foot">
            <tfoot>

            <tr>
                <td colspan="2">
                    <button id="addItem">Add Item</button>
                </td>
            </tr>
            </tfoot>
        </div>
    </table>
</div>
</body>

<footer class="footer">
    <p>Created by: Gruppe 7</p>

    </p>
</footer>


</html>