<!DOCTYPE html>
<html lang="en">
<head>
    <title>Start Page</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<header class="header">

    <div class="homebuttonOgHeader">

    <a href="/home">
        <button class="image-button"></button>
    </a>
        <h1>WishList</h1>
    </div>

    <nav>

    </nav>
</header>

<body class="body">
<h2 th:text="${user.name} + ' wishlists'">User's wishlists</h2>

<div class = "table">
    <table>
        <tr th:each="wishlist : ${wishlists}">
            <td><a th:href="@{'/' + ${user.name} + '/wishlist/' + ${wishlist.name}}" th:text="${wishlist.name}">Wishlist name</a></td>


            <!-- Start Nested Iteration over Wishlist items -->
            <th:block th:each="item : ${wishlist.items}">
                <td th:text="${item.name}"></td>
                <!-- Replace the property 'name' with actual attribute names to be displayed -->

            </th:block>
            <!-- End Nested Iteration over Wishlist items -->

        </tr>
    </table>
    <form th:action="@{/wishlist}" method="post">

        <input type="hidden" name="userName" id="userName" th:value="${user.name}">

        <label for="wishlistName">Name for new Wishlist:</label>
        <input type="text" name="wishlistName" id="wishlistName" placeholder="New Wishlist Name">

        <button type="submit" class="sky-plus-button"></button>

    </form>
</div>
</body>

<footer class="footer">
    <p>Created by: Gruppe 7</p>
</footer>

</html>