<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wishlist Page</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="header">

        <div class="homebuttonOgHeader">

            <a href="/home">
                <button class="image-button"></button>
            </a>
            <h1>WishList</h1>
        </div>

        <nav>

        </nav>
    </header>

    <div class="containers">
        <div class="container-left"></div>
        <div class="container-center">
            <h2 th:text="${user.name} + '\'s wishlist:'">Default header</h2>
            <h2 th:text="${wishlistName}">Wishlist name</h2>

            <div class = "table">
                <div th:if="${items.isEmpty()}">
                    <p>Your wishlist is currently empty.</p>
                </div>

                <table th:unless="${items.isEmpty()}">
                    <tr class="table-column-titles">
                        <th> </th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>URL</th>
                        <th>CopyUrl</th>
                    </tr>
                    <tr th:each="item, iterStat: ${items}" class="item-row">
                        <td th:text="${iterStat.count}"></td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.price}"></td>
                        <td><a th:href="${item.URL}" th:text="${item.URL}">Item link</a></td>
                        <td><input type="text" value="${item.URL}" onFocus="this.select();" readonly></td>
                    </tr>
                </table>

                <form th:action="@{/item}" method="post">
                    <input type="hidden" name="userName" id="userName" th:value="${user.name}">
                    <input type="hidden" name="wishlistName" id="wishlistName" th:value="${wishlistName}">

                    <label for="itemName">new Item:</label>

                    <input type="text" name="itemName" id="itemName" placeholder="New Item Name">
                    <input type="text" name="price" id="price" placeholder="New Item Price">
                    <input type="text" name="URL" id="URL" placeholder="New Item URL">
                    <button type="submit">Add Item</button>
                </form>
            </div>
        </div>
        <div class="container-right">
            <div class="notification-box">
                <!-- Your right container content -->
                <h3 th:if="${error}" th:class="'error-message'" th:text="${error}" class='notifications'></h3>
                <h3 th:if="${success}" th:class="'success-message'" th:text="${success}" class='notifications'></h3>
            </div>
        </div>
    </div>

</body>

<footer class="footer">
    <p>Created by: Gruppe 7</p>
</footer>

</body>

</html>